<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ SITEDESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">

    {% assets filters="cssmin", output="css/style.min.css", "css/bootstrap.min.css", "css/Chart.min.css", "css/main.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    {% block extra_css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/theme/img/decklock_icon.png" alt="Decklock icon" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if GWENT_ENABLED -%}<a class="dropdown-item" href="{{ SITEURL }}/gwent.html">Gwent</a>{%- endif%}
            {% if KEYFORGE_ENABLED -%}<a class="dropdown-item" href="{{ SITEURL }}/keyforge.html">KeyForge</a>{%- endif%}
            {% if MTG_ENABLED -%}<a class="dropdown-item" href="{{ SITEURL }}/mtg.html">Magic: the Gathering</a>{%- endif%}
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container top15">
    {% block container %}
    {% endblock %}
</div>

{% block footer %}
{% endblock %}
<script src="{{ SITEURL }}/theme/js/jquery-3.3.1.js"></script>
<script src="{{ SITEURL }}/theme/js/bootstrap.bundle.min.js"></script>
<script src="{{ SITEURL }}/theme/js/Chart.bundle.min.js"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>