{% extends 'base.html' %}

{% block title %}
{{ SITENAME }} - Gwent Overview
{% endblock %}

{% block extra_css %}
<link href="{{ SITEURL }}/theme/css/gwent.css" rel="stylesheet" />
{% endblock extra_css %}


{% block container %}

    <ol class="breadcrumb top15">
      <li class="breadcrumb-item"><a href="{{ SITEURL }}/index.html">DeckLock</a></li>
      <li class="breadcrumb-item active">Gwent</li>
    </ol>

    <h1>Gwent Decks</h1>

    <table id="deck_overview" class="table table-striped">
        <thead>
        <tr>
            <th scope="col" data-sort="string-ins">Leader</th>
            <th scope="col" data-sort="string-ins">Deck</th>
            <th scope="col" data-sort="string-ins">Faction</th>
            <th scope="col" data-sort="float">Gwent Version</th>
        </tr>
        </thead>
        <tbody>
        {% for a in articles|rejectattr('faction', 'undefined')|sort(attribute='name')|sort(attribute='faction')|sort(attribute='gwent_version', reverse = True) %}
            {% if a.category == "Gwent_Deck" %}
            <tr class="deck {{a.leader.data.faction}}">
                <td>{{ a.leader.name }}</td>
                <td><a href="{{ SITEURL }}/{{ a.url }}">{{ a.name }}</a></td>
                <td>{{ a.faction }}</td>
                <td>{{ a.gwent_version }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_js %}
<script src="{{ SITEURL }}/theme/js/stupidtable.min.js"></script>
<script>
$(function(){
  $("#deck_overview").stupidtable();
 });
</script>
{% endblock %}