{% extends 'base.html' %}

{% block container %}

    <ol class="breadcrumb top15">
      <li class="breadcrumb-item active">DeckLock</li>
    </ol>

<h1>DeckLock</h1>

    {{ WELCOME_MESSAGE|md }}

    <table id="game_overview" class="table table-striped">
        <thead>
        <tr>
            <th scope="col" data-sort="string-ins">Game</th>
            <th scope="col" data-sort="float">Decks</th>
        </tr>
        </thead>
        <tbody>
        {%- if "fab" in PLUGINS -%}
        <tr>
          <td><a href="{{ SITEURL }}/fab.html">Flesh and Blood</a></td>
          <td>{{ articles|selectattr("category", "equalto", "FaB_Deck")|list|length  }}</td>
        </tr>
        {%- endif -%}
        {%- if "gwent" in PLUGINS -%}
        <tr>
          <td><a href="{{ SITEURL }}/gwent.html">Gwent</a></td>
          <td>{{ articles|selectattr("category", "equalto", "Gwent_Deck")|list|length  }}</td>
        </tr>
        {%- endif -%}
        {%- if "keyforge" in PLUGINS -%}
        <tr>
          <td><a href="{{ SITEURL }}/{{ KEYFORGE_DECKS_SAVE_AS }}">KeyForge</a></td>
          <td>{{ KEYFORGE_DECK_COUNT }}</td>
        </tr>
        {%- endif -%}
        {%- if "mtg" in PLUGINS -%}
        <tr>
          <td><a href="{{ SITEURL }}/mtg.html">Magic: the Gathering</a></td>
          <td>{{ articles|selectattr("category", "equalto", "MTG_Deck")|list|length  }}</td>
        </tr>
        {%- endif -%}
        </tbody>
    </table>

{% endblock %}

{% block extra_js %}
<script src="{{ SITEURL }}/theme/js/stupidtable.min.js"></script>
<script>
$(function(){
  $("#game_overview").stupidtable();
 });
</script>
{% endblock %}