{% extends 'base.html' %}

{% block title %}
{{ SITENAME }} - KeyForge Overview
{% endblock %}

{% block extra_css %}
<link href="{{ SITEURL }}/theme/css/keyforge.css" rel="stylesheet" />
{% endblock extra_css %}

{% block container %}

    <ol class="breadcrumb top15">
      <li class="breadcrumb-item"><a href="{{ SITEURL }}/index.html">DeckLock</a></li>
      <li class="breadcrumb-item active">KeyForge</li>
    </ol>

    <h1>KeyForge Decks</h1>

    <table id="deck_overview" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Deck</th>
            <th scope="col">Houses</th>
            <th scope="col">SAS</th>
            <th scope="col">EARC</th>
            <th scope="col">%</th>
        </tr>
        </thead>
        <tbody>
         {% for k,v in keyforge_data.items() %}
            <tr>
                <th scope="row"><a href="{{ SITEURL }}/{{v.path}}">{{ v.vault_data.data.name }}</a></th>
                <td>
                    {% for house in v.vault_data._linked.houses %}
                        {% if USE_EXTERNAL_LINKS %}
                            <img src="{{ house.image }}" alt="{{ house.name }}" class="keyforge-house-logo"/>
                        {% else %}
                            <img src="{{ SITEURL }}/{{ house.image_path }}" alt="{{ house.name }}" class="keyforge-house-logo"/>
                        {% endif %}
                    {% endfor %}
                </td>
                {% if v.dok_data.deck %}
                    <td>{{ v.dok_data.deck.sasRating }}</td>
                    <td>{{ v.dok_data.deck.aercScore }}</td>
                    <td>{{ "%.1f"|format(v.dok_data.deck.sasPercentile) }}</td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}