{% extends 'base.html' %}
{% import 'macros/card_list_item.html' as card_list_item %}
{% block title %}
{{ SITENAME }} - {{ article.title }}
{% endblock %}

{% block extra_css %}
<link href="{{ SITEURL }}/theme/css/Chart.min.css" rel="stylesheet" />
<link href="{{ SITEURL }}/theme/css/mana-cost.css" rel="stylesheet" />
{% endblock extra_css %}

{% block container %}
    <ol class="breadcrumb top15">
      <li class="breadcrumb-item"><a href="{{ SITEURL }}/index.html">DeckLock</a></li>
      <li class="breadcrumb-item"><a href="{{ SITEURL }}/mtg.html">Magic: the Gathering</a></li>
      <li class="breadcrumb-item active">{{ article.title }}</li>
    </ol>

<h1>{{ article.title }} <small>{{ article.format }}</small></h1>
<div class="row">
    <div class="col-md-8 top15">
        <div class="card h-100">
            <div class="card-header"><h3>Main Deck</h3></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg">
                    <h4>Lands</h4>
                    <ul class="card_list">
                        {% for card in article.deck.main|sort(attribute='name') %}
                            {% if card.card_type == "land" %}
                                {{ card_list_item.print(card, USE_EXTERNAL_LINKS) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <h4>Creatures</h4>
                    <ul class="card_list">
                        {% for card in article.deck.main|sort(attribute='name') %}
                            {% if card.card_type == "creature" %}
                                {{ card_list_item.print(card, USE_EXTERNAL_LINKS) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </div>
                    <div class="col-lg">
                    <h4>Instants and Sorceries</h4>
                    <ul class="card_list">
                        {% for card in article.deck.main|sort(attribute='name') %}
                            {% if card.card_type == "instant" or card.card_type == "sorcery" %}
                                {{ card_list_item.print(card, USE_EXTERNAL_LINKS) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <h4>Other Spells</h4>
                    <ul class="card_list">
                        {% for card in article.deck.main|sort(attribute='name') %}
                            {% if not card.card_type in ["creature", "instant", "sorcery", "land"] %}
                                {{ card_list_item.print(card, USE_EXTERNAL_LINKS) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 top15">
        <div class="card h-100">
            <div class="card-header"><h3>Sideboard</h3></div>
            <div class="card-body">
                <ul class="card_list">
                    {% for card in article.deck.sideboard|sort(attribute='name') %}
                        {{ card_list_item.print(card, USE_EXTERNAL_LINKS) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover({html: true})
})
</script>
{% endblock %}