{% extends 'base.html' %}

{% block title %}
{{ SITENAME }} - M:tG Overview
{% endblock %}

{% block container %}

    <ol class="breadcrumb top15">
      <li class="breadcrumb-item"><a href="{{ SITEURL }}/index.html">DeckLock</a></li>
      <li class="breadcrumb-item active">Magic: The Gathering</li>
    </ol>

    <h1>Magic: The Gathering Decks</h1>

    <table id="deck_overview" class="table table-striped">
        <thead>
        <tr>
            <th scope="col" data-sort="string-ins">Deck</th>
            <th scope="col" data-sort="string-ins">Format</th>
        </tr>
        </thead>
        <tbody>
        {% for a in articles|rejectattr('format', 'undefined')|sort(attribute='name')|sort(attribute='format') %}
            {% if a.category == "MTG_Deck" %}
            <tr>
                <td><a href="{{ SITEURL }}/{{ a.url }}">{{ a.name }}</a></td>
                <td>{{ a.format }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_js %}
<script src="{{ SITEURL }}/theme/js/stupidtable.min.js"></script>
<script>
$(function(){
  $("#deck_overview").stupidtable();
 });
</script>
{% endblock %}