{% extends 'base.html' %}

{% block title %}
{{ SITENAME }} - {{ article.title }}
{% endblock %}

{% block extra_css %}
<link href="{{ SITEURL }}/theme/css/Chart.min.css" rel="stylesheet" />
<link href="{{ SITEURL }}/theme/css/keyforge.css" rel="stylesheet" />
{% endblock extra_css %}

{% block container %}
    <ol class="breadcrumb top15">
      <li class="breadcrumb-item"><a href="{{ SITEURL }}">DeckLock</a></li>
      <li class="breadcrumb-item"><a href="#">Magic: the Gathering</a></li>
      <li class="breadcrumb-item active">{{ article.title }}</li>
    </ol>

{% block content %}
{% endblock %}

{% endblock %}

{% block extra_js %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover({html: true})
})
</script>
{% endblock %}