.rarity {
    background-image: url('../img/keyforge-rarity.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
    font-size: 100%;
}
.rarity.small {
    height: 1em;
    width: 1em;
}
.rarity.medium {
    height: 2em;
    width: 2em;
}
.rarity.large {
    height: 4em;
    width: 4em;
}

.rarity.common { background-position: 0 0; }
.rarity.uncommon { background-position: 33.3% 0; }
.rarity.rare { background-position: 66.6% 0; }
.rarity.special { background-position: 99.9% 0; }
.rarity.variant { background-position: 99.9% 0; }
.rarity.fixed { background-position: 99.9% 0; }

.trophy {
    background-image: url('../img/keyforge-trophy.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
    font-size: 100%;
}
.trophy.small {
    height: 1em;
    width: 1em;
}
.trophy.medium {
    height: 1.5em;
    width: 1.5em;
}
.trophy.large {
    height: 4em;
    width: 4em;
}

.trophy.cup { background-position: 0 0; }
.trophy.keyraken { background-position: 33.3% 0; }
.trophy.conspiracy { background-position: 66.6% 0; }
.trophy.unused { background-position: 99.9% 0; }