.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.popup-card-image {
  height: 350px;
  margin-left: 0px;
  margin-right: 0px;
}

.popover-body {
    padding: 2px;
}

.manacost {
  float:right;
}

.card_list {
    padding-inline-start: 0px;
    list-style: none;
}

.plot {
    padding: 15px;
}

.card-stack {
    float:left;
    padding: 10px;
    position: relative;
    width:262px;
}

.overview-card-image {
    height: 350px;
    position:absolute;
    top:0px;
}

.overview-card-image:hover {
    z-index:1000
}

.overview-position-2 {
    top:40px;
}
.overview-position-3 {
    top:80px;
}
.overview-position-4 {
    top:120px;
}