.keyforge-house-logo {
    height: 30px;
    width: 30px;
}

.keyforge-house-logo-xl {
    height: 60px;
    width: 60px;
}

.is_enhanced {
    color: #4a7ff0;
}

.card-header.house-mars {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(89,46,145,1) 100%);
}
.card-header.house-shadows {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,193,68,1) 100%);
}
.card-header.house-logos {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(211,101,38,1) 100%);
}
.card-header.house-brobnar {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(242,94,34,1) 100%);
}
.card-header.house-untamed {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(36,132,84,1) 100%);
}
.card-header.house-dis {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(222,28,115,1) 100%);
}
.card-header.house-sanctum {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(18,132,189,1) 100%);
}
.card-header.house-saurian {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(229,189,55,1) 100%);
}
.card-header.house-star_alliance {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(42,72,131,1) 100%);
}
.card-header.house-unfathomable {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(209,72,255,1) 100%);
}


@media screen and (max-width: 780px) {
  table.keyforge_overview {
    border: 0;
  }

  table.keyforge_overview caption {
    font-size: 1.3em;
  }

  table.keyforge_overview thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.keyforge_overview tr {
    display: block;
    margin-bottom: 30px;
    background-color: #303030;
  }

  table.keyforge_overview td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table.keyforge_overview td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.keyforge_overview td:last-child {
    border-bottom: 0;
  }
}
